<div class="p-5 sticky top-5 self-start w-100 bg-white rounded-xl shadow-xl border border-gray-200/50">
  <h6 class="font-light text-gray-500">Стол</h6>

  <p class="mb-2 font-accent text-3xl">№ 4</p>

  <p class="mb-3 text-gray-400">2 мин. назад</p>

  <ul class="mb-3 pb-3 flex flex-col gap-y-2 border-b border-gray-200">
    <li>
      <div class="flex items-center justify-between">
        <div class="flex">
          <div class="mr-3 flex items-center justify-center rounded-md text-sm size-6 bg-amber-100 text-amber-600">1</div>
          <span>Капучино</span>
        </div>
        <div class="text-gray-400">75 $</div>
      </div>
    </li>
    <li>
      <div class="flex items-center justify-between">
        <div class="flex">
          <div class="mr-3 flex items-center justify-center rounded-md text-sm size-6 bg-amber-100 text-amber-600">1</div>
          <span>Чизкейке</span>
        </div>
        <div class="text-gray-400">20 $</div>
      </div>
    </li>
  </ul>

  <div class="mb-3 flex justify-between">
    <p>Вместе</p>
    <p>95 $</p>
  </div>
  <p-select [options]="statuses" [(ngModel)]="status" optionLabel="value" optionValue="key" placeholder="Выберите статус" class="w-full"></p-select>
</div>
