@import 'tailwindcss';

@theme {
  --font-accent: "Cormorant", serif;
  --font-main: "Nunito", sans-serif;
}

body {
  @apply font-main font-normal bg-amber-50;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn {
  @apply py-2 px-4 rounded-xl bg-black text-gray-100 border border-transparent hover:bg-transparent hover:text-black hover:border-black cursor-pointer;
}

.btn--transparent {
  @apply py-2 px-4 rounded-xl border bg-transparent text-black border-black  hover:bg-black hover:text-gray-100 hover:border-transparent cursor-pointer;
}
