<h3 class="mb-4 font-accent text-xl">Топ блюд</h3>
<ul class="flex flex-col gap-y-3">
  <li class="flex items-center cursor-pointer">
    <img class="mr-3 size-10 object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGJM2kYPA1FbhPFyP_dyLGnMd2LtAwbxlnSw&s" alt="Card image">
    <div>
      <p class="mg-1">Капучино</p>
      <p class="text-neutral-400 text-sm">95$</p>
    </div>
    <p class="ml-auto font-accent text-2xl text-amber-500">5x</p>
  </li>
  <li class="flex items-center cursor-pointer">
    <img class="mr-3 size-10 object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGJM2kYPA1FbhPFyP_dyLGnMd2LtAwbxlnSw&s" alt="Card image">
    <div>
      <p class="mg-1">Американо</p>
      <p class="text-neutral-400 text-sm">75$</p>
    </div>
    <p class="ml-auto font-accent text-2xl text-amber-500">2x</p>
  </li>
</ul>
