<app-section-header>
  <span section-title>Меню</span>
  <div section-actions>
    <button class="btn">+ Добавить блюдо</button>
  </div>
</app-section-header>

<div class="p-5 flex">
  <div class="sticky w-50 mr-10">
    <app-menu-category></app-menu-category>
  </div>
  <div class="w-full grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-5">
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
    <app-menu-dish></app-menu-dish>
  </div>
</div>
