<div class="rounded-xl shadow-xl bg-white border border-gray-200/50 overflow-clip">
  <img class="w-full h-48 object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGJM2kYPA1FbhPFyP_dyLGnMd2LtAwbxlnSw&s" alt="Card image">
  <div class="p-4">
    <h4 class="mb-2 text-lg">Капучино</h4>
    <p class="mb-3 text-neutral-400 text-sm">Двойной эспрессо, молочная пена, и что-то еще</p>
    <div class="flex items-center justify-between">
      <div>95 $</div>
      <p-toggleswitch />
    </div>
  </div>
</div>
