<div class="p-5 flex items-center border-b border-gray-200">
  <button (click)="sidebarService.toggle()" class="mr-5 lg:hidden flex items-center cursor-pointer">
    <ng-icon name="lucideMenu" size="30" />
  </button>
  <div class="flex flex-1 items-center justify-between">
    <h3 class="font-accent font-black text-2xl">
      <ng-content select="[section-title]" />
    </h3>
    <div class="flex items-center justify-between">
      <ng-content select="[section-actions]" />
    </div>
  </div>
</div>
