<div class="p-3 pb-5 sticky top-5 self-start bg-white rounded-xl shadow-xl border border-gray-200/50">
  <h6 class="mb-2 font-light text-gray-500">Категории</h6>
  <ul class="border-b border-gray-200 pb-5 mb-5">
    <li class="not-last:mb-0.5">
      <button class="p-2 flex items-center text-neutral-600 w-full active rounded-xl cursor-pointer">
        Все блюда <span class="ml-auto text-sm text-taupe-400">24</span>
      </button>
    </li>
    <li class="not-last:mb-0.5">
      <button class="p-2 flex items-center text-neutral-600 w-full rounded-xl cursor-pointer">
        Десерты <span class="ml-auto text-sm text-taupe-400">24</span>
      </button>
    </li>
  </ul>
  <button class="w-full text-amber-500 cursor-pointer">+ Категория</button>
</div>
